<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>votesapp_admin_1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Registration-Form-with-Photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative"><img class="img-fluid" src="static/img/votesapp_loogo_latest.png" width="75" height="75"><a href="{{url_for('home')}}"><-Back to Brand requests</a></div>
        </div>
        <form >
            <div class="form-row">
                <div class="col text-capitalize" style="text-align: center;">
                    <h1 style="font-size: 30px;">Detailed view of brand</h1>
                    <div class="form-row">
                        <div class="col text-left">
                            <div class="table-responsive table-bordered border rounded-0" style="border: 1px solid rgb(2,55,108) ;">
                                <table class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Field name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                            <td>Question id</td>
                                            <td>{{qid}}</td>
                                        </tr>
                                        <tr>
                                            <td>Posted by user_id</td>
                                            <td>{{user_id}}</td>
                                        </tr>
                                        <tr>
                                            <td>Question</td>
                                            <td>{{question}}</td>
                                        </tr>
                                    <tr>
                                            <td>Question Image</td>
                                            <td colspan ='4'><img src={{image_signed_url}} alt="" border='3' height='150' width='150' /></td>
                                        </tr>
                                      <tr>
                                            <td>Category</td>
                                            <td>{{category}}</td>
                                        </tr>
                                       <tr>
                                            <td>Total votes</td>
                                            <td>{{totalvote}}</td>
                                        </tr>
                                    <tr>
                                            <td>No of likes</td>
                                            <td>{{upvote}}</td>
                                        </tr>
                                           <tr>
                                            <td>No of reports abused</td>
                                            <td>{{reportabuse}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <form name="form1" action="#"  class="text-center" method="post" style="text-align: center;">
    <div class="container" style="text-align: center;">
    <div class="row">

        <div class="col"><label>Decision reason* : </label><input type="text" name="decision"  style="height: 35px;width: 250px;" /></div>

    </div>
</div>

<button class="btn btn-danger text-center" type="submit" name="reject"  onclick="return required();" >Disable Question </button><button class="btn btn-danger text-center" type="submit" name="reject-user"  onclick="return required();" >Disable User </button><button class="btn btn-success text-center" type="submit" name="approve"  onclick="return required();">Approve Question</button></form>
    <script type="text/javascript">
function required()
{
var empt = document.forms["form1"]["decision"].value;
var input = empt;
   if (input == "")
    {
     alert("Decision reason is mandatory to provide");
     return false;
    }
    else if (input.length < 6) {
     alert("Minimum 6 chars required as reason");
    return false;
   } else if (!(/^\S{3,}$/.test(input))) {
    alert("Decision cannot contain whitespace");
     return false;
    }else if(!(/^[a-zA-Z]+$/.test(input)))
    {
     alert("Only alphabets allowed");
     return false;
     }
    else if(!(/^(?:(\w)(?!\1\1))+$/.test(input)))
    {
     alert("per 3 alphabets allowed");
     return false;
    }

}
</script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/Profile-Edit-Form.js"></script>
</body>

</html>