<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>votesapp_admin_1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/Article-List.css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Registration-Form-with-Photo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <section class="article-list">
        <div class="container">
            <div class="intro">
                <h3 class="text-center"><img src="static/img/votesapp_loogo_latest.png">Votesapp</h3>
                <p class="text-center">Votesapp is a platform to raise our voice in democratic way against every event around us. It is simply called digital democracy.&nbsp;&nbsp;</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/img/building.jpg"></a>
                    <h3 class="name">Vote for every single event</h3>
                    <p class="description">Votesapp is for all events covering politics, science &amp; technology, sports, agriculture, entertainment and education.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/img/insights.jpg"></a>
                    <h3 class="name">Insights</h3>
                    <p class="description">Votesapp visualizes the thoughts of people into graphs and bars. Provides us insights for every single questions.&nbsp;</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/img/help.jpg"></a>
                    <h3 class="name">Help needed?</h3>
                    <p class="text-center text-primary description">Contact us - interact@votesapp.co.in&nbsp;</p>
                    <p class="text-center text-dark description">Get in touch with our social media accounts</p><i class="fa fa-arrow-circle-right"></i><a class="action" href="#"></a>
                    <div class="row">
                        <div class="col text-center" style="height: 50;"><img style="width: 50;height: 50;" src="static/img/instagram_small.png"><img src="static/img/facebook_small.png"><img src="static/img/youtube-small.png"></div>
                    </div>
                    <p class="text-center text-dark description">© 2021 Votesapp.co.in. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </section>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/Profile-Edit-Form.js"></script>
</body>

</html>